body{
  margin: 0%;
  padding: 0%;
}
.contenedor{
  display: flex;
}
.izquierda{
  width: 200px;
}
.menu{
  background-color: greenyellow;
  height: 30px;
  border: 2px solid black;
}
.azul{
  background: blue;
  height: 354px;
  border: 2px solid black;
}
.header{
  background: purple;
  height: 120px;
  width: 1400px;
  border: 2px solid black;

}
.centro{
  display: flex;
}
.rojo{
  background: red;
  height: 400px;
  width: 100%;
}
.footer{
  height: 200px;
  width: 100%;
  background: orange;
  border: 2px solid black;
}
